.Ranking{
    border: solid 1px;
    padding: 2vmax;
    width: 75vmax;
    @media (max-width: 600px) {
        width: 75vmin;
    }
    justify-self: center;

}

.instructions {
    border: solid 1px;
    padding: 2vmax;
    width: 75vmax;
    @media (max-width: 600px) {
        width: 75vmin;
    }
    justify-self: center;
    margin: 2vmax;

}